


.container {
  text-align: center;
  width: 1000px;
  margin: auto;
  padding-top: 10px;

}
h1 {
  text-align: center;
  margin: auto;

}
.theSet{
  padding: 10px;

  border-bottom: 1px solid black;


}
.theDateCol{
  display: inline-block;
  width: 40%;




}
.theSenderCol{
  display: inline-block;
  width: 20%;

}

.theSubjectCol{
  display: inline-block;
  width: 30%;

}
.theBodyCol {
  padding: 10px;
  text-align: center;
  width: auto;

}
